<ul class="nav">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/intInc">Anotar Incidencia</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="gesInc">Gestión de Incidencias</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="revInc">Revisión de Incidencias</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="btn btn-warning" routerLink="/listUsu">Gestión Usuarios</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="btn btn-warning" routerLink="/login">Login</a>
  </li>
  <li class="nav-item" >
    <a class="btn btn-danger" (click)="logout()">Logout</a>
  </li>
</ul>